@charset "UTF-8";
/*!Обнуление*/
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*!---------0-----------*/
body {
  background-color: #A9E5E3;
  font-family: 'Roboto', sans-serif;
  
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
  
}

[class*=__container] {
  max-width: 0;
  margin: 0 auto;
  padding: 0 0;
}

.counter-block {
  text-align: center;
}
.counter-block {
  
}
.counter-title {
  font-size: 70px;
  margin-bottom: 15px;
  letter-spacing:0.2em;
}
.number {
  font-size: 70px;
  margin-bottom: 15px;
}
.buttons {
  display: inline-block;
  
}
.button {
  line-height: 30px;
  letter-spacing:0.2em;
  background-color:transparent;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
}
.button:hover {
  background-color: #000;
  color: #A9E5E3;
  box-shadow: 0 0 5px #000;
}
.button:active {
  box-shadow: none;
}
button:not(:last-child) {
  margin-right: 10px;
}
.button_1 {
}
.button_2 {
}
.button_3 {
}

@media  (max-width:500px){
  .counter-title {
    font-size: 45px;
  }
  .number {
    font-size: 40px;
  }
  .button {
    line-height: 20px;
    letter-spacing:normal;
    background-color:transparent;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 14px;
  }
  button:not(:last-child) {
    margin-right: 5px;
  }
}

